
<%= form_for(@assignment, url: assignments_path, method: :post) do |form| %>
    <label> Title</label><br>
    <%= form.text_field :title %> <br>
    <label>Due date</label><br>
    <%= form.date_field :due_date %> <br>
    <label> Description</label><br>
    <%= form.text_area :todo %> <br>
    <%= form.file_field :image %><br>
    <%= form.file_field :file %><br> <br>
    
    <%= form.submit "Add", {class: "btn btn-success"} %><br><br>

    <%= link_to "Back", :back %>
    <% end %>

