
<div class="row">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Create Assignment</h2>
        <%= form_for(@assignment, html: {multipart:true}, url: user_assignments_path, method: :post) do |form| %>
        <label> Title</label><br>
        <%= form.text_field :title, :size=>"58", placeholder: "Title", :maxlength=>"150" %> <br>
        <label>Due date</label><br>
        <%= form.date_field :due_date %> <br>
        <label> Description</label><br>
        <%= form.text_area :todo, cols: "60", rows: "10"%> <br>

        <div class="image-upload">
          <label for="img-input">
          <span class="far fa-images">
          </span> Upload Image</label>
          <%= form.file_field :image, id: "img-input" %><br>
        </div>

        <div class="image-upload">
          <label for="file-input">
          <span class="far fa-file-pdf">
          </span>  Upload PDF</label>
        <%= form.file_field :file, id: "file-input" %><br><br>
        </div>
        
        <%= form.submit "Add Assignment", {class: "btn btn-dark"} %><br><br>

        <%= link_to "Back", :back %>
        <% end %>
    </div>
  </div>
</div>

