<div class="row">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title"></h2>
            <%= link_to edit_assignment_path do %>
            <button type="button" class="btn btn-primary">
            Edit
            </button>
            <% end %>

            <%= link_to assignment_path(@assignment), method: :delete  do %>
            <button type="button" class="btn btn-danger">
            Delete
            </button>
            <% end %>
            <br>

            <% if @assignment.image.attached? %>
            <%= image_tag(@assignment.image, width: '200') %>
            <% end %> <br>

            <h1 class="card-title"><%= @assignment.title %></h1>
            <br>
            <%= @assignment.due_date %>
            <br>
            <%= @assignment.todo %>
            <br><br>

            <%= link_to "Back", :back %>
        </div>
    </div>
</div>
</center>

    <div class="row workspace">
        <div class="col-6">
            <embed src="<%= File.path("/pdfSample.pdf") %>" type="application/pdf" width="600rem" height="700rem">
        </div>

        <div class="col-6">
            <!-- Create the editor container -->
            <div id="editor" height="700rem">
            <p>Hello World!</p>
            <p><br></p>
        </div>
        </div>
    </div>
</div>



