<% content_for :title, "Assignment" %>


<div class="text-center mx-auto">
    <div class="header-btn-container">
        <%= link_to :back do %>
            <button type="button" class="btn btn-success text-white mt-3 mb-3 back-btn">
                Back
            </button>
        <% end %>

        <%= link_to edit_user_assignment_path do %>
        <button type="button" class="btn btn-primary mt-3 mb-3">
        Edit
        </button>
        <% end %>

        <%= link_to user_assignment_path(current_user, @assignment), method: :delete  do %>
        <button type="button" class="btn btn-danger mt-3 mb-3 delete-btn">
        Delete
        </button>
        <% end %>
    </div>

    <div class="container-fluid center">
    <table class="table table-bordered text-center assignment-table" style="color: white">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Due Date</th>
            <th scope="col">Image</th>
            <th scope="col">File</th>
        </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <strong><%= @assignment.title %></strong>
                <br>
                </td>

                <td>
                <%= @assignment.todo %>
                <br><br>
                </td>

                <td>
                    <%= @assignment.due_date %>
                    <br>
                </td>

                <td>
                    <% if @assignment.image.attached? %>
                        <%= image_tag(@assignment.image, width: '200') %>
                    <% end %> <br>
                </td>

                <td>
                    <% if @assignment.file.attached? %>
                        <%= link_to "Download File", @assignment.file, download: '' %>
                    <% end %>
                </td>
            </tr>
        </tbody>
    </table>
    </div>    

    <div class="row editor-form">
        <% if @assignment.file.attached? %>
            <div class="col-6 row assgn-col pdf-col">
                <h3>PDF Viewer</h3>
                <embed src="<%= rails_blob_path(@assignment.file) %>" type="application/pdf" width="600rem" height="600rem">
            </div>

            <div class="col-6 assgn-col editor-col">
                <h3>Text Editor</h3>
                <div id="editor" style="height: 85vh">
                    <% unless @assignment.editors.length == 0 %>
                        <% @assignment.editors.each do |editor| %>
                            <%== editor.session %>
                        <% end %>
                    <% end %>
                </div>
                <div>
                    <%= form_with(model: @editor, url: assignment_editor_path(@assignment), method: :patch, class: "session-form") do |f| %>
                        <%= f.hidden_field :session, class: "session-input" %>
                        <%= f.submit "Save", class: "btn btn-success m-2 text-white save-session-btn" %>
                    <% end %>
                    <%= link_to user_assignment_path(@assignment.user, @assignment, format: 'pdf', contents: "hello world"), class: "editor-contents" do %>
                        <button class="btn btn-success mt-2 mb-2 text-white download-as-pdf-btn" role="button">
                            Download
                        </button>
                    <% end %>
                </div>
            </div>
        <% else %>

            <div class="editor-container">
                <div class="editor-wrapper">
                    <h3>Text Editor</h3>
                    <!-- Create the editor container -->
                    
                    <div id="editor">
                        <% unless @assignment.editors.length == 0 %>
                            <% @assignment.editors.each do |editor| %>
                                <%== editor.session %>
                            <% end %>
                        <% end %>
                    </div>
                    <div class="text-center" style="display: inline-block">
                        <%= form_with(model: @editor, url: assignment_editor_path(@assignment), method: :patch, class: "session-form") do |f| %>
                            <%= f.hidden_field :session, class: "session-input" %>
                            <%= f.submit "Save", class: "btn btn-success m-2 text-white save-session-btn" %>
                        <% end %>
                        <%= link_to user_assignment_path(@assignment.user, @assignment, format: 'pdf'), class: "editor-contents" do %>
                            <button class="btn btn-success mt-2 mb-2 text-white download-as-pdf-btn" role="button">
                                Download
                            </button>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>

</div>