
<div class="row">
<h1>Dashboard</h1>
<div>
<%= link_to new_assignment_path do %>
    <button type="button" class="btn btn-success">New Assignment </button>
<% end %>
<%= link_to new_user_post_path(current_user) do %>
    <button type="button" class="btn btn-success">New Post </button>
<% end %>
</div>
</div>

<div class="row">
    <div class="col-6 assignments">
    
    <% @assignments.each do |assignment| %>
        <%= link_to assignment.title, assignment_path(assignment) %> <br>
        (<%= assignment.due_date%>)<br>
        <%= assignment.todo %>
        <br>
    <% end %>
    </div>
    <div class="col-6 posts">
        
        <% @posts.each do |post| %>
            <%= link_to post.title, user_post_path(current_user, post) %>
            <br>
        <% end %>
    </div>
</div>
