<% content_for :title, "Public Forum" %>
<!--<style>
            .forum-card {
                border-radius: 0; 
                padding: 0;
                margin: 0;
                margin-top: 8vh;
                margin-left: auto;
                margin-right: auto;
            }
            .forum-contents {
                border-radius: 0; 
                background-color: white;
            }
            .forum-header {
                display: grid;
                grid-template-columns: repeat(12, 1fr);
            }
            .forum-heading-title-1 {
                grid-column: 1 / 7;
            }
            .forum-heading-title-2 {
                grid-column: 7 / 9;
            }
            .forum-heading-title-3 {
                grid-column: 9 / 11;
            }
            .forum-heading-title-4 {
                grid-column: 11 / 13;
            }
            .forum-contents {
                border: 1px solid lightgray;
                box-shadow: 3px 3px 8px #888888;
                display: grid;
                grid-template-columns: repeat(12, 1fr);
            }
            .forum-title-box {
                grid-column: 1 / 7;
            }
            .forum-members-box {
                grid-column: 7 / 9;
            }
            .forum-comments-box {
                grid-column: 9 / 11;
            }
            .forum-posted-box {
                grid-column: 11 / 13;
            }
            .forum-post-title {
                margin-left: -0.7rem;
            }
</style>-->
<div>
    <div class="text-center">
        <h1 class="mt-4" style="color: white;" >Public Forum</h1>
        <%= link_to new_user_post_path(current_user) do %>
        <button type="button" class="btn btn-success mt-3">New Post</button>
        <% end %>
    </div>
<div style="display: flex">
    <div class="card col-11 forum-card" style="border: 1px solid black">
        <div class="card-header text-white bg-success forum-header">
            <span class="forum-heading-title-1">Post</span>
            <span class="forum-heading-title-2 text-center">Members</span>
            <span class="forum-heading-title-3 text-center">Comments</span>
            <span class="forum-heading-title-4 text-center">Posted By</span>
        </div>

        <% count = 0 %>
        <% @posts.each do |post| %>
        <div class="card-body forum-contents">
            <div class="forum-title-box">
                <h5 class="card-title forum-post-title"><%= link_to post.title, user_post_path(post.user, post) %></h5>
                <p class="card-text post-text"><%= post.content %></p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable-<%= count %>">
                    View Highlights
                </button>
                <div class="modal fade" id="exampleModalScrollable-<%= count %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                        <div class="highlight-box modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body highlight-text-box">   
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="forum-members-box text-center">
                0
            </div>
            <div class="forum-comments-box text-center">
                <%= post.comments.count %>
            </div>
            <div class="forum-posted-box text-center">
                <small class="ml-2"><%= post.user.email %></small>
            </div>
        </div>
            <br>
            <% count += 1 %>  
        <% end %>
    </div>
</div>
</div>