
<h1>Public Forum</h1>
<% count = 0 %>
    

<div class="list-group">
    <% @posts.each do |post| %>
        <div class="list-group-item list-group-item-action post-link">
            <div class="d-flex w-100 justify-content-between">
                <h5><%= link_to post.title, user_post_path(post.user, post) %></h5>
                        <small>3 days ago</small>
            </div>
            <div class="d-flex w-100 justify-content-between">
                <p class="ml-2 post-text"><%= post.content %></p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable-<%= count %>">
                            View Highlights
                        </button>
            </div>
            <small class="ml-2"><%= post.user.email %></small>
        </div>
        <div class="modal fade" id="exampleModalScrollable-<%= count %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                            <div class="highlight-box modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body highlight-text-box">
                                        
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
        <% count += 1 %>  
    <% end %>
</div>

