<%= link_to edit_user_post_path(@post.user, @post) do %> <button type="button" class="btn btn-primary"> Edit </button><% end %>

<%= link_to user_post_path(@post.user, @post), method: :delete do %>
<button type="button" class="btn btn-danger">
 Delete </button>
<% end %>

<h1><%= @post.title %></h1>
<%= @post.content %> <br>
<% if @post.image.attached? %>
    <%= image_tag(@post.image, width: '200') %> <br>
<% end %>


<%= link_to "Back", :back %>