
<% content_for :title, "Post" %>

<div class="post-header-btn-container text-center">
    <%= link_to :back do %>
        <button type="button" class="btn btn-success text-white mt-4 mb-3 back-btn">
            Back
        </button>
    <% end %>

    <%= link_to edit_user_post_path(@post.user, @post) do %>
        <button type="button" class="btn btn-primary mt-4 mb-3">
            Edit
        </button>
    <% end %>


    <%= link_to user_post_path(@post.user, @post), method: :delete  do %>
        <button type="button" class="btn btn-danger mt-4 mb-3 delete-btn">
            Delete
        </button>
    <% end %>
</div>

<style>
    .post-header-btn-container > a {
        margin: 0.25rem 8rem;
    }
    .post-container {
        display: flex;
        padding-bottom: 2rem;
    }
    .post-card {
        margin: 0;
        padding: 0; 
        border-radius: 0;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        min-height: 23rem;
        display: flex;
        border: 1px solid lightgray;
        box-shadow: 3px 3px 8px #888888;
    }
    .post-body {
        background-color: white;
        min-height: 23rem;
        display: flex;
        flex-direction: column;
    }
    .post-img {
        object-fit: cover;
        border-radius: 0;
        min-height: 23rem;
    }
    .post-btn, .edit-comment-btn {
        max-width: 10rem;
        margin-left: auto;
    }
    .small-post-text {
        margin-top: auto;
        margin-right: auto;
        width: 100%;
    }
    .text-post-btn {
        display: flex;
    }
    .text-comment-btn {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0.2rem;
    }
    .edit-btn-container {
        grid-column: 3 / 4;
        padding: 1rem;
        margin-left: auto;
        margin-right: 0;
    }
    .delete-btn-link {
        grid-column: 4 / 5;
        padding: 1rem;
        margin-left: auto;
        margin-right: 0;
    }
    .post-user-email {
        grid-column: 1 / 3;
        padding: 1rem;
    }
    /* Comments Below */

    .comment-title {
        text-align: center;
    }
    .comment-card {
        width: 65%;
    }
    .new-comment-form {
        width: 65%; 
        margin-left: auto; 
        margin-right: auto;
    }
</style>
<div class="post-container">
    <div class="card mb-3 post-card">
        <div class="row no-gutters">
            <% if @post.image.attached? %>
                <div class="col-md-4">
                    <%= image_tag(@post.image, class: "card-img post-img") %> <br>
                </div>
                <div class="col-md-8">
            <% else %>
                <div class="col-md-12">
            <% end %>
                <div class="card-body post-body">
                    <h5 class="card-title"><%= @post.title %></h5>
                    <hr>
                    <p class="card-text post-text"><%= @post.content %></p>
                    <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                            <div class="highlight-box modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body highlight-text-box">
                                        
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="small-post-text">
                        <hr>
                        <div class="text-post-btn">
                            <p class="card-text"><small class="text-muted">Posted By: <%= @post.user.email %></small></p>
                            <button type="button" class="btn btn-primary post-btn" data-toggle="modal" data-target="#exampleModalScrollable">
                            View Highlights
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-header bg-dark text-center" style="width: 95%; margin: 1rem 0; margin-left: auto; margin-right: auto;">
    <h5 class="text-white card-title mt-2">
        Reply Below
    </h5>
</div>

<h4 class="comment-title">Comment Section - <%= @post.comments.count %></h4>
    <% @post.comments.each do |comment| %>
        <div class="comment">
            <div class="post-container">
                <div class="card mb-3 post-card comment-card">
                    <div class="row no-gutters">
                        <% if comment.image.attached? %>
                        <div class="col-md-4">
                            <%= image_tag(comment.image, class: "card-img post-img") %> <br>
                        </div>
                        <div class="col-md-8">
                        <% else %>
                        <div class="col-md-12">
                        <% end %>
                        <div class="card-body post-body">
                            <h5 class="card-title"><%= comment.title %></h5>
                            <hr>
                            <p class="card-text post-text"><%= comment.content %></p>
                            <div class="small-post-text">
                                <hr>
                                <div class="text-comment-btn">
                                    <p class="card-text post-user-email"><small class="text-muted">Posted By: <%= @post.user.email %></small></p>
                                    <div class="edit-btn-container">
                                        <button class="edit-comment-btn btn btn-primary">
                                            Edit
                                        </button>
                                    </div>
                                    <%= link_to delete_post_comment_path(@post, comment), method: :delete, class: "delete-btn-link" do %>
                                        <button class="btn btn-danger">
                                            Delete
                                        </button>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%= form_with model: comment, url: update_post_comment_path(@post, comment), method: :patch, class: "edit-comment-form" do |f| %>
            <%= f.label :title %> <br> 
            <%= f.text_field :title %> <br>
            <%= f.label :content %> <br>
            <%= f.text_area :content %> <br>
            <%= f.label :upload_image_below %> <br>
            <%= f.file_field :image %> <br>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.submit "Update Comment" %>
        <% end %>
    <% end %>
<%= render "comments/form" %>