<h1><%= @post.title %></h1>
<%= @post.content %> <br>
<%= image_tag(@post.image, width: '200') %> <br>
<%= link_to "Edit Post", edit_user_post_path(@post.user, @post) %> <br>
<%= link_to "Delete Post", user_post_path(@post.user, @post), method: :delete %>