<%= link_to edit_user_post_path(@post.user, @post) do %> 
<button type="button" class="btn btn-primary"> Edit </button><% end %>

<%= link_to user_post_path(@post.user, @post), method: :delete do %>
<button type="button" class="btn btn-danger">Delete </button>
<% end %>

<h1><%= @post.title %></h1>
<%= @post.content %> <br>
<% if @post.image.attached? %>
    <%= image_tag(@post.image, width: '200') %> <br>
<% end %>
<h5>Add Comment</h5>
<%= render "comments/form" %>
<h4>Comment Section - <%= @post.comments.count %></h4>
    <% @post.comments.each do |comment| %>
        <div class="comment">
            <%= comment.title %> <br>
            <%= comment.content %> <br>
            <% if comment.image.attached? %>
                <%= image_tag(comment.image, width: '150') %> <br>
            <% end %>
        </div>
        <button class="edit-comment-btn">Click To Edit Comment</button>
        <%= form_with model: comment, url: update_post_comment_path(@post, comment), method: :patch, class: "edit-comment-form" do |f| %>
            <%= f.label :title %> <br> 
            <%= f.text_field :title %> <br>
            <%= f.label :content %> <br>
            <%= f.text_area :content %> <br>
            <%= f.label :upload_image_below %> <br>
            <%= f.file_field :image %> <br>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.submit "Update Comment" %>
        <% end %>
        <%= link_to "Delete Comment", delete_post_comment_path(@post, comment), method: :delete %>
        <br> <br> <br>
    <% end %>


<%= link_to "Back", :back %>