<%= link_to edit_user_post_path(@post.user, @post) do %> <button type="button" class="btn btn-primary"> Edit </button><% end %>

<%= link_to user_post_path(@post.user, @post), method: :delete do %>
<button type="button" class="btn btn-danger">Delete </button>
<% end %>

<h1><%= @post.title %></h1>
<%= @post.content %> <br>
<% if @post.image.attached? %>
    <%= image_tag(@post.image, width: '200') %> <br>
<% end %>
<h5>Add Comment</h5>
<%= form_with model: @comment, url: post_comments_path(@post), method: :post do |f| %>
    <%= f.label :title %> <br>
    <%= f.text_field :title %> <br>
    <%= f.label :content %> <br>
    <%= f.text_area :content %> <br>
    <%= f.label :upload_image_below %> <br>
    <%= f.file_field :image %> <br>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit "Create Comment" %>
<% end %>
<h4>Comment Section</h4>

    <% @post.comments.each do |comment| %>
        <%= comment.title %> 
        <%= comment.content %> 
        <% if comment.image.attached? %>
            <%= image_tag(comment.image, width: '150') %> <br>
        <% end %>
    <% end %>


<%= link_to "Back", :back %>