
<% content_for :title, "Post" %>

<div class="post-header-btn-container text-center" style="margin-top: 5rem;">
    <%= link_to forum_path do %>
        <button type="button" class="btn btn-success text-white mt-4 mb-3 back-btn">
            Back
        </button>
    <% end %>

    <%= link_to edit_user_post_path(@post.user, @post) do %>
        <button type="button" class="btn btn-primary mt-4 mb-3">
            Edit
        </button>
    <% end %>


    <%= link_to user_post_path(@post.user, @post), method: :delete  do %>
        <button type="button" class="btn btn-danger mt-4 mb-3 delete-btn">
            Delete
        </button>
    <% end %>
</div>

<div class="post-container">
    <div class="card mb-3 post-card">
        <div class="row no-gutters">
            <% if @post.image.attached? %>
                <div class="col-md-4">
                    <%= image_tag(@post.image, class: "card-img post-img") %> <br>
                </div>
                <div class="col-md-8">
            <% else %>
                <div class="col-md-12">
            <% end %>
                <div class="card-body post-body">
                    <h5 class="card-title"><%= @post.title %></h5>
                    <hr>
                    <p class="card-text post-text"><%= @post.content %></p>
                    <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                            <div class="highlight-box modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body highlight-text-box">
                                        
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="small-post-text">
                        <hr>
                        <div class="text-post-btn">
                            <p class="card-text"><small class="text-muted">Posted By: <%= @post.user.email %></small></p>
                            <button type="button" class="btn btn-primary post-btn" data-toggle="modal" data-target="#exampleModalScrollable">
                            View Highlights
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-header bg-dark text-center" style="width: 95%; margin: 1rem 0; margin-left: auto; margin-right: auto;">
    <h5 class="text-white card-title mt-2">
        Reply Below
    </h5>
</div>

<h4 class="comment-title">Comment Section - <%= @post.comments.count %></h4>
    <% @post.comments.each do |comment| %>
        <div class="comment">
            <div class="post-container">
                <div class="card mb-3 post-card comment-card">
                    <div class="row no-gutters">
                        <% if comment.image.attached? %>
                        <div class="col-md-4">
                            <%= image_tag(comment.image, class: "card-img post-img") %> <br>
                        </div>
                        <div class="col-md-8">
                        <% else %>
                        <div class="col-md-12">
                        <% end %>
                        <div class="card-body post-body">
                            <h5 class="card-title"><%= comment.title %></h5>
                            <hr>
                            <p class="card-text post-text"><%= comment.content %></p>
                            <div class="small-post-text">
                                <hr>
                                <div class="text-comment-btn">
                                    <p class="card-text post-user-email"><small class="text-muted">Posted By: <%= @post.user.email %></small></p>
                                    <div class="edit-btn-container">
                                        <button class="edit-comment-btn btn btn-primary">
                                            Edit
                                        </button>
                                    </div>
                                    <%= link_to delete_post_comment_path(@post, comment), method: :delete, class: "delete-btn-link" do %>
                                        <button class="btn btn-danger">
                                            Delete
                                        </button>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <%= form_with model: comment, url: update_post_comment_path(@post, comment), method: :patch, class: "edit-comment-form" do |f| %>
            <div class="form-group new-comment-form">
                <div class="form-group">
                    <%= f.label :title %> 
                    <%= f.text_field :title, class: "form-control" %> 
                </div>
                <div class="form-group">
                    <%= f.label :content %> 
                    <%= f.text_area :content, class: "form-control", rows: "3" %>
                    <small id="emailHelp" class="form-text text-muted">Say Something Nice 😉</small>
                </div>
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <%= f.file_field :image, class: "form-control-file upload-btn" %>
                        <% if comment.image.attached? %>
                            <label for="comment_choose_image" class="custom-file-label upload-label">
                                <%= comment.image.filename.to_s %>
                            </label>
                        <% else %>
                            <%= f.label :choose_image, class: "custom-file-label upload-label" %>
                        <% end %> 
                    </div> 
                </div>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <%= f.submit "Update Comment", class: "btn btn-primary comment-submit-btn" %>
                <button class="btn btn-danger cancel-edit-btn">
                    Cancel
                </button>
            </div>
        <% end %>
    <% end %>
<%= render "comments/form" %>