<!DOCTYPE html>
<html>
  <head>
    <meta name="google" content="notranslate"/>
    <title><%= yield(:title) %> - EmeraldApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="favicon" href="./images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Rum+Raisin" rel="stylesheet">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <style media="screen">
      /*body { padding-top: 70px; }*/
      #connectLogo {
        height: 60px;
        padding: 15px 0 5px 0;
      }
      #logo {
        height: 60px;
        padding: 5px 0 5px 20px;
      }

      .share-link {
        line-height: 60px;
        padding: 0 1em;
        font-size: 2em;
      }
    </style>
  </head>
<body>

  <% if user_signed_in? %>
    <%# /#sidebar-toggle  %>
    <div id="wrapper" class="toggled">
      <div class="barnav fixed-top">
      
      
        <div class="emerald">
          <a class="btn btn-default sidenav-toggle menu-toggle mx-auto shine">
            <div class="emerald">
              <%= image_tag ("emerald.png"), :title => 'Click here to show/hide side bar' %>
            </div>
          </a>
          <%= link_to root_path, :class => 'navbar-link' do %> 
            emerald
          <% end %> 
        </div>


        <div class="ml-auto" style="color: white;">Logged in as    
          <strong><%= current_user.email %></strong>
          <%= link_to destroy_user_session_path, method: :delete, :class => 'navbar-link' do %>
          <button type="button" class="btn btn-danger">Logout</button>
          <% end %>
        </div>

        <%# Sidebar  %>
        <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
            <li>
              <%= link_to root_path do %> Dashboard <% end %>
            </li>
            <li>
              <%= link_to forum_path do %>Public Forum<% end %>
            </li>
            <li>
              <%= link_to calculator_index_path, target:"_blank" do %>Calculator<% end %>
            </li>
            <li>
              <%= link_to edit_user_registration_path do %>Edit Profile<% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>      

  <%# #sidebar-toggle %>
      <div class="barnav fixed-top" style="color: #066D0A; font-size: 2rem;">
        <div class="emerald"> 
          <%= link_to root_path, :class => 'navbar-link' do %>
          <%= image_tag ("emerald.png") %>
          <a class="shine">emerald</a>
          <% end %> 
        </div>

        <div class="ml-auto ">
          <%= link_to new_user_registration_path, :class => 'navbar-link' do %>
            <button type="button" class="btn btn-primary">Sign Up</button>
          <% end %>
          <%= link_to new_user_session_path, :class => 'navbar-link' do %>
            <button type="button" class="btn btn-primary">Log In</button>
          <% end %>
        </div>
  
    <% end %>

  </div>
  <div class="emerald-prj-container">
  <%= yield %>
  </div>


  
      <!-- Include the Quill library -->
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous" defer></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" defer></script>
  
  
    <!-- Include the Quill library -->
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

</body>
</html>
